<form action="" method="post" role="form" (ngSubmit)="createNewRecipe(newRecipe)">
    <table>
        <tr>
            <td>
                <div class="form-group" data-role="fieldcontain"></div>
                <fieldset data-role="controlgroup"><label for="rec_name">Recipe Name</label></fieldset>
            </td>
            <td>
                <input class="form-control fnt_crsv" id="rec_name" type="text" [(ngModel)]="newRecipe.rec_name" value="" placeholder="Enter Recipe Name" name="rec_name" />
            </td>
        </tr>
        <tr>
            <td>
                <div class="form-group" data-role="fieldcontain"></div>
                <fieldset data-role="controlgroup"><label for="rec_img_URL">Image</label></fieldset>
            </td>
            <td>
                <input class="form-control fnt_crsv" id="rec_img_URL" [(ngModel)]="newRecipe.rec_img_URL" type="file" onchange="upload(this.value)" value="" name="rec_img_URL" />
            </td>
        </tr>
        <tr>
            <td>
                <div class="form-group" data-role="fieldcontain"></div>
                <fieldset data-role="controlgroup"><label for="rec_detail">Recipe Detail</label></fieldset>
            </td>
            <td>
                <input class="form-control fnt_crsv" id="rec_detail" [(ngModel)]="newRecipe.rec_detail" type="text" value="" placeholder="Enter Recipe Details" name="rec_detail" />
            </td>
        </tr>
        <tr>
            <td>
                <div class="form-group" data-role="fieldcontain"></div>
                <fieldset data-role="controlgroup"><label for="likes">Likes</label></fieldset>
            </td>
            <td>
                <input class="form-control fnt_crsv" id="likes" [(ngModel)]="newRecipe.likes" type="number" value="" placeholder="Enter Likes" name="likes" />
            </td>
        </tr>
        <tr>
            <td>
                <div class="form-group" data-role="fieldcontain"></div>
                <fieldset data-role="controlgroup"><label for="dish_type">Dish Type</label></fieldset>
            </td>
            <td>
                <input class="form-control fnt_crsv" id="dish_type" [(ngModel)]="newRecipe.dish_type" type="text" value="" placeholder="Enter Dish type(ig. sweet/spicy..)" name="dish_type" />
            </td>
        </tr>
        <tr>
            <td>
                <div data-role="fieldcontain"> </div><input class="btn btn-success fnt_crsv" type="submit" value="Add" data-transition="fade" data-theme="c" />
            </td>
            <td>
                
            </td>
        </tr>
    </table>
</form>

