<h1>About Us</h1>

<p>
    Recipes range from basic to advanced, allowing people of all skill levels to learn to cook better. Recipes and images are posted on the internet, along with step-by-step instructions. We also offer virtual or in-person cooking workshops, for which guests can register and pay. An application that will assist an end-user in exploring a range of recipes using the components accessible in one's kitchen. Using Tandoor, sharing a recipe with family and friends is easy: Just add them to your space and they may cook, improve or expand your collection.
</p>