<form action="" method="post" role="form" (ngSubmit)="onReviewSubmit()">
    <div *ngIf="formError" class="alert alert-danger" role="alert">
        {{ formError }}
    </div>  
    <table>
        <tr>
            <td>
                <div class="form-group" data-role="fieldcontain"></div>
                <fieldset data-role="controlgroup"><label for="user_name">User Name</label></fieldset>
            </td>
            <td><input class="form-control fnt_crsv" id="user_name" type="text" [(ngModel)]="newReviews.user_name" value="" placeholder="Enter Your Name" name="user_name" /></td>
        </tr>
        <tr>
            <td>
                <div class="form-group" data-role="fieldcontain"></div>
                <fieldset data-role="controlgroup"><label for="rating">Rating</label></fieldset>
            </td>
            <td><input class="form-control fnt_crsv" id="rating" type="number" [(ngModel)]="newReviews.rating" min="0" max="5" value="" name="rating" /></td>
        </tr>
        <tr>
            <td>
                <div class="form-group" data-role="fieldcontain"></div>
                <fieldset data-role="controlgroup"><label for="reviewText">Text Review</label></fieldset>
            </td>
            <td><input class="form-control fnt_crsv" id="reviewText" type="text" [(ngModel)]="newReviews.reviewText" value="" placeholder="How much you liked our recipe?" name="reviewText" /></td>
        </tr>
        <tr>
            <td>
                <div data-role="fieldcontain"> </div><input class="btn btn-primary fnt_crsv" type="submit" value="Add Review" data-transition="fade" data-theme="c" />
            </td>
            <td></td>
        </tr>
    </table>
</form>