
<div class="cntnt">
  <router-outlet></router-outlet>
</div>

<div class="nvbr">
  <a routerLink="/" id="str_name" class="navbar-brand">Recipe Store</a>
  <ul class="nav nav-pills m_nav">
    <li role="presentation">
      <a routerLink="/" class="lnk actv_cls">Home</a>
    </li>
    <li role="presentation">
      <a routerLink="/list" class="lnk actv_cls">List</a>
    </li>
    <li role="presentation">
      <a routerLink="/display" class="lnk actv_cls">Display</a>
    </li>
    <li role="presentation">
      <a routerLink="/new" class="lnk actv_cls">Add Recipe</a>
    </li>
    <li role="presentation">
      <a routerLink="/about" class="lnk actv_cls">About Us</a>
    </li>
  </ul>
</div>

<footer class="ftr">
  <p>
    laurem ipsum laurem ipsum laurem ipsum laurem ipsum laurem ipsum laurem ipsum laurem ipsum laurem ipsum laurem ipsum laurem ipsum laurem ipsum laurem ipsum laurem ipsum laurem ipsum laurem ipsum laurem ipsum laurem ipsum laurem ipsum laurem ipsum laurem ipsum laurem ipsum laurem ipsum laurem ipsum laurem ipsum laurem ipsum 
  </p>
</footer>